<div class="list card" ng-if="comment">
  <div class="item" ng-if="comment.PostedAnonymously">
    <h2>Anonymous Peer</h2>
    <p>{{comment.CreationDate}}</p>
  </div>
  
  <div class="item item-avatar" ng-if="!comment.PostedAnonymously">
    <img ng-src="{{comment.Creator.Avatar}}">
    <h2>{{comment.Creator.FullName}}</h2>
    <p>{{comment.CreationDate}}</p>
  </div>

  <div class="item item-body">
    <p>{{comment.Text}}</p>
  </div>

  <div class="item tabs tabs-secondary tabs-icon-left">
    <a class="tab-item" href="#">
      <i class="icon ion-thumbsup"></i>
      {{comment.Voting.VotedPositive}}
    </a>
    <a class="tab-item" href="#">
      <i class="icon ion-thumbsdown"></i>
      {{comment.Voting.VotedNegative}}
    </a>
    
    <a class="tab-item" href="#">
      <i class="icon ion-chatbox"></i>
      {{comment.Comments.length}}
    </a>
  </div>
</div>