<ion-modal-view>
  <ion-header-bar>
    <h1 class="title">Create a post</h1>
    <div class="buttons">
      <button class="button button-clear" ng-click="close()">Close</button>
    </div>
  </ion-header-bar>
  <ion-content>
    <form name="form" class="list list-inset">
      <div class="item item-input">
        <textarea rows=10 ng-model="newPost.Text" required></textarea>
      </div>
    
      <div class="button-bar">
        <button class="button" ng-disabled="form.$invalid" ng-click="submit(course.Id, newPost.Text, true)">Post as Anonymous</button>
        <button class="button" ng-disabled="form.$invalid" ng-click="submit(course.Id, newPost.Text)">Post</button>
      </div>
    </form>
  </ion-content>
</ion-modal-view>
